.acalendar__container {
  border-radius: 10px;
  width: 100%;
  background-color: #F2F2F2;
  margin-bottom: 43px;
  position: relative;
  overflow: hidden;
}

.acalendar__container.second_line.isSmall {
  position: relative;
  top: -43px;
}

.acalendar_body_image {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.acalendar__container.isSmall:not(.second_line) .acalendar_body_image {
  height: 207px;
  position: relative;
}

.acalendar__container:not(.second_line) .acalendar_body_image {
  height: 250px;
}

.acalendar__container.isSmall.second_line .acalendar_body_image {
  height: 250px;
  position: relative;
}

.acalendar__container.second_line .acalendar_body_image {
  height: 207px;
}

.acalendar__container .blured .acalendar_body_image {
  filter: blur(25px);
  position: relative;
}

.acalendar__container .blured::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255,255,255,0.4);
}

.acalendar_body_image_container {
  overflow: hidden;
  position: relative;
}


.acalendar_body_image_container:not(.blured)::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.4);
}

.btn-start-activity {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  font-size: 12px;
  z-index: 99;
  padding: 10px 10px;
  color: white !important;
  border-radius: 10%;
  cursor: pointer;
  width: 70%;
  text-align: center;
}

.btn-start-activity:hover {
  opacity: 0.95;
  text-decoration:  none;
}