.tutstep__container {

}

.tutstep__img {
  padding-top: 100%;
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
}

.carousel {
  margin-top: 80px
}

.tutstep__title {
  font-weight: bold;
  font-size: 19px;
}

.tutstep__desc {
  font-size: 16px;
}

.points__count {
  background-color: #F4F4F4;
  color: #94BE32 !important;
  border-radius: 21px;
  padding: 6px 16px;
  min-width: 100px;
}

.poihts_container {
  margin-bottom: 17px;
}