.lastActivity__container {
  background: #F2F2F2;
  padding: 41px 50px;
  display: flex;
  color: 'white';
}

.lastActivity__valueContainer {
  background: url('../assets/last_activity_bg.png');
  background-size: cover;
  padding: 20px 21px 51px;
  flex: 4;
  margin-right: 2em;
  border-radius: 10px;
  position: relative;
}

.lastActivity__bannerContaienr {
  background: white;
  padding: 51px 21px;
  flex: 6;
  border-radius: 10px;
  position: relative;
}

.lastActivity__valueTitle {
  position: absolute;
  top: -16px;
  color: white;
  width: 80%;
  left: 10%;
  height: 32px;
  line-height: 32px;
  font-size: 21px;
  text-align: center;
  border-radius: 10px;
  font-weight: 300;
  font-size: 16px;
}

.lastActivity__bannerTitle {
  position: absolute;
  top: -16px;
  width: 80%;
  left: 10%;
  height: 32px;
  line-height: 32px;
  font-size: 16px;
  text-align: center;
  border-radius: 10px;
  font-weight: 300;
  background-color: #FFFFFF;
  font-weight: bold;
}

.lastActivity__valueTitle strong {
  font-weight: bold;
}

.lastActivity__footer {
  text-align: center;
  position: absolute;
  bottom: 6px;
  color: white;
  text-align: center;
  font-weight: 300;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-weight: 600;
  font-size: 17px;
  right: 50%;
  transform: translateX(50%);
  padding: 11px 42px;
  border-radius: 21px;
}

.lastActivity__footer:hover {
  color: white;
  text-decoration: none;
  opacity: 0.9;
}

.lastActivityLabel {
  background: rgba(217, 218, 227, 0.35);
  border-radius: 24px;
  padding: 10px 20px;
  display: inline-block;
  margin: 40px auto 30px;
}

.lastActivity__bannerContaienr {
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.lastActivity__bannerMiddle {
  background: rgba(255,255,255, .58);
  color: black;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  padding: 23px 0;
  text-align: center;
}

.lastActivity__valueSubTitle {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.lastActivity__valueText {
  color: #707070;
  font-size: 14px;
  text-align: center;
  max-height: 4.5em !important;
  overflow: hidden !important;
}