.ranking__container {
  flex: 1;
  padding-bottom: 30px;
}

.ranking__item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #D8D8D8;
  padding: 19px 0;
}

.ranking__number {
  color: #000000;
  font-size: 14px;
  margin-right: 26px;
}

.ranking__familyname {
  background-color: #DDDDDD;
  border-radius: 15px;
  font-weight: bold;
  padding: 7px 13px;
  font-size: 12px;
}

.ranking__points {
  background-color: #94BE32;
  color: white;
  border-radius: 15px;
  font-weight: bold;
  padding: 7px 13px;
  font-size: 12px;
  height: 33px;
}

.ranking__header-img{
  padding-right: 25px;
}
.ranking__avatar {
  vertical-align: middle;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  border: 3px solid #94BE32;
}
