.sons__header-img{
    padding-right: 25px;
  }
  .sons__avatar {
    vertical-align: middle;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid #94BE32;
    margin-bottom: 10px;
  }
  