:root {
  --secondary: #94BE32 !important;
  --secondary-hover: #006937 !important;

}

body {
  font-family: 'Nunito', sans-serif !important;
}

input[type="password"].form-control,
input[type="text"].form-control,
input[type="number"].form-control,
input[type="email"].form-control {
  background: #F7F8FA !important;
  border-color: transparent;
  font-size: 10px;
}

.btn-primary {
  background: linear-gradient(to bottom, #1E9E3E 50%, #037F5E) !important;
  border-color: transparent;
  transition: all 0.3s;
}

.btn-primary:hover {
  background: linear-gradient(to bottom, #037F5E 50%, #037F5E) !important;
  border-color: transparent;
}

.navbar {
  background-color: white;
  box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
  padding-bottom: 0;
  padding-top: 0;
}

.btn-rounded {
  border-radius: 20px;
}

.btn-secondary {
  background-color: var(--secondary);
  border-color: var(--secondary);
  transition: all .2s;
}

.btn-secondary:hover {
  background-color: var(--secondary-hover);
  border-color: var(--secondary-hover)
}

.nav-item.active {
  border-bottom: 1px solid var(--secondary)
}

.btn-goza-unidos {
  padding: 0 20px !important;
}

.nav-item {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  height: 110px;
}

.nav-siempre-conectados {
  position: relative;
}

.nav-siempre-conectados img {
  width: 74px;
  margin: 0 auto;
}

.nav-siempre-conectados::before {
  content: '';
  border-left: 2px solid var(--secondary);
  width: 1px;
  top: 10px;
  position: absolute;
  left: 0;
  top: 30%;
  height: 40%;
  bottom: 10px;
}

.btn-outline-secondary {
  border-color: #E16222;
  color: #E16222;
  transition: all 0.2s ease-out;
}

.btn-outline-secondary:hover {
  background: #E16222;
  color: white;
}

.btn-secondary-alt {
  background: #F6AC1B;
  color: white;
}

.btn-secondary-alt:hover {
  background: rgb(180, 132, 37);
  color: white;
}

.btn {
  border-radius: 10px;
}

.form-control:focus {
  box-shadow: 0 0 0 0.2rem rgba(41, 158, 63, 0.52);
}

.text-strong {
  font-weight: bold;
}

h5 {
  font-size: 16px;
}

.infop {
  font-size: 16px;
  color: #333333;
}

.form-group label i {
  font-size: 14px;
  margin-right: 10px;
}

.form-group label {
  font-weight: 500;
  color: #7B7F92;
  font-size: 10px;
  line-height: 14px;
  display: flex;
  align-items: center;
}

.text-secondary {
  color: var(--secondary) !important;
}

.text-primary {
  color: var(--secondary-hover) !important;
}

.text-primary:hover {
  color: var(--secondary-hover) !important;
}

a {
  color: var(--secondary-hover)
}

a:hover {
  color: var(--secondary-hover);
  opacity: 0.8;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #009F4D;
}

@media (max-width: 1000px) {
  .login-img {
    max-width: 100%;
  }

  .brand_logo {
    right: 0 !important;
    width: 200px !important;
  }

  .logo_ac {
    bottom: 10px !important;
    width: 84px;
  }

  .brand {
    height: 60px;
  }

  .nav-item {
    height: auto;
  }
  
  .nav-siempre-conectados {
    margin-left: 20px;
  }

  .nav-siempre-conectados img {
    margin: 0;
  }

  .acalendar__container.second_line.isSmall {
    top: 0 !important;
  }

  .lastActivity__container {
    flex-direction: column !important;
    padding: 25px 15px !important;
    margin: 0 -15px;
  }

  .lastActivity__valueContainer,
  .lastActivity__bannerContaienr
   {
     width: 100% !important;
     margin-right: 0 !important;
   }

   .lastActivity__bannerContaienr {
     min-height: 350px;
     margin-top: 2em;
   }
}

.owl-carousel button.owl-dot {
  background-color: #D9D9D9 !important;
  width: 14px !important;
  height: 14px !important;
  border-radius: 7px;
  margin-right: 7px;
}

.owl-carousel button.owl-dot.active {
  opacity: 1;
  background-color: #009F4D !important;
}

.owl-dots,
.owl-nav {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.owl-prev,
.owl-next {
  color: #009F4D !important;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 90px !important;
  opacity: .7;
}

.owl-prev.disabled,
.owl-next.disabled {
  display: none;
}

.owl-prev:hover,
.owl-next:hover {
  opacity: 1;
}

.owl-prev{
  left: -15px;
}

.owl-in-modal .owl-prev{
  left: -10px;
}

.owl-next {
  right: -20px;
}

.owl-in-modal .owl-next {
  right: -10px;
}

.validar__header-img{
  padding-right: 25px;
}
.validar__avatar {
  vertical-align: middle;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid #94BE32;
}



.btn-third {
  background: #94BE32 !important;
}

.btn-third:hover {
  background: rgb(102, 131, 36) !important;
}

.mock-btn {
  background: linear-gradient(to bottom, #1E9E3E 50%, #037F5E) !important; 
  text-align: center;
  border-radius: 10px;
  margin-bottom: 24px
}

.tour-modal-title {
  color: #009F4D;
  font-size: 16px;
  margin-bottom: 22px;
  text-align: center;
}

.modal-content {
  background-image: url('../assets/login.png');
  background-size: cover;
}

.nav-item.dropdown {
  height: 80px !important;
  padding-top: 35px !important;
}

.avatar {
  width: 50px;
  height: 50px;
}